html{
    height: 100%;
}
body{
    height: 100%;
    font: .26rem Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
#app {
    height: 100%;
    background: $bg_color;

    color: $font_color;
}