html{
    height: 100%;
}
body{
    height: 100%;
}
#app {
    height: 100%;
    background: $bg_color;
    font: 0.14rem/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    color: $font_color;
}